/************************************
COLORS:
 White : #feffff 
 Blue : #98dafc
 Brown : #daad86
 Black : #312c32 
************************************/



/************************************
COMMON ATTRIBUTES
*************************************/
@import url(https://fonts.googleapis.com/css?family=Graduate);

body{
  /*background:#0E1D3A url("../img/bg.png") center top no-repeat;*/
  background: #312c32;
}

.center {
  display:block;
  margin:auto;
  text-align:center;
}

#logo{
  text-decoration:none;
  text-align:center;
}



#logo h1,#logo h3{
  margin:0;
  padding:30px;
  font-family: 'Graduate', cursive;
  font-size: 2.8em;
  color:rgba(255, 255, 255, 0.73);
  -webkit-transition: all 2s ease-in-out; /* Safari */
  transition: all 0.2s ease-in-out;
}

#logo h1:hover {
font-size:3em;
color: white;
padding:29px;
}

#my_dp {
  display:block;
  margin:auto;
  border-radius: 100%;
  height:300px;
  weight:300px;
  padding: 20px;
}

#social{

}

#social a img{
  height:130px;
  border-radius:10%;
  margin:0px;
  -webkit-transition: all 1s ease-in-out; /* Safari */
  transition: all 0.2s ease-in-out;
}

#social a img:hover {
	margin:-5px;
	height:140px;
	border-radius:20%;
}

#ico_facebook:hover{
 background: rgb(60,89,152);
}

#ico_twitter:hover{
 background: rgb(85,172,238);
}

#ico_linkedin:hover{
 background: rgb(27,105,183);
}

#ico_instagram:hover{
 background: rgb(137,90,77);
}

#ico_mail:hover{
 background: rgb(233,62,48);
}

